extends ./layout.pug
block content
    .container
        .row
            .col-md-5.offset-md-1
                div.container.card.card-block
                    h1.card-title Add an ingredient
                    div#ingredientAdder

            .col-md-5
                div.container.card.card-block
                    h1.card-title Add a recipe
                    div#recipeAdder
        .row
            .col-md-8.offset-md-2
                div#ingredientList.container.card.card-block
                    h1 Hello, tag cloud!
    //script(src='../../client/scripts/console.jsx' type='text/babel')