extends ./layout.pug
block content
    .container
        .row
            .col-md-5.offset-md-1
                div.container.card.card-block
                    h1.card-title Add an ingredient
                    div#ingredientAdder
                div.container.card.card-block
                    h1.card-title Add a tag
                    div#tagAdder
                div.container.card.card-block
                    h1.card-title Add a unit
                    div#unitAdder

            .col-md-5
                div.container.card.card-block
                    h1.card-title Add a recipe
                    div#recipeAdder
    script(src='../../client/console.js' type='text/javascript')