extends ./layout.pug
block content
    //script.
        var user = globalUser;
        var userData = firebase.database().ref('users/' + user);
    div#index

    script(src='../../main.js' type='text/javascript')