extends ./layout.pug
block content
    //script.
        var user = globalUser;
        var userData = firebase.database().ref('users/' + user);
    div#root
    if process.env.NODE_ENV == 'production'
        script(src='../../main.js' type='text/javascript')
    else
        script(async src='../../public/main.js' type='text/javascript')