nav.navbar.navbar-fixed-top.navbar-dark.bg-inverse
    a.navbar-brand(href="/") DrinkMe
    button.pull-right.navbar-toggler.hidden-sm-up(type="button" data-toggle="collapse" data-target="#collapsingNavbar" aria-controls="collapsingNavbar" aria-expanded="false" aria-label="Toggle navigation") &#9776;
    div#collapsingNavbar.collapse.navbar-toggleable-xs.pull-right
        ul.nav.navbar-nav
            li.nav-item.active
                a.nav-link(href="/") Home
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href="/#") Cabinet
            li.nav-item
                a.nav-link(href="#") Recipes
            li.nav-item
                a.nav-link(href="#") Cabinet
            li.nav-item
                a.nav-link(href="#") Recipes