$color: blue;

body {
  //display: block;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;

}

.wrapper {
  min-height: 100vh;
  position: relative;
}

.loginForm {
  display: inline-block;
  margin: 10vh auto;
  max-width: 500px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  form {
    margin: 0 auto;
    width: 90%;

  }
}
.console-adders {
  margin: 0 auto;
  width: 100%;
  max-width: 35vw;
  form {
    padding: 1%;
  }
}

.button-group {
  display: flex;
  justify-content: space-around;
}

.view-wrapper {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.console-paper{
  justify-content: space-around;
  margin: 2vh auto;
  div {
    .chip-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
.chip-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.ingredient-adder-box {
  display: block;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 10px;
  width: 100%
}

.ingredient-submit-button {
  width: 100%;
}

.ingredient-unit {
  max-width: 30%;
}

.step-wrapper {
  display: inline-flex;
}

.step-text {
  flex: 5 1 0;
}

.step-button {
  flex: 1 1 0;
}

//Router animations
.Image {
  position: absolute;
  height: 400px;
  width: 400px;
}

.example-enter {
  opacity: 0.01;
  transition: opacity 5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity 5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}

.link-active {
  color: #bbbbbb;
  text-decoration: none;
}