$color: blue;
$break-small: 320px;
$break-medium: 768px;
$break-large: 1200px;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;

}

.wrapper {
  min-height: 100vh;
  position: relative;
  img.logo {
    position: absolute;
    max-width: 95vw;
    left: 0;
    top: 0;
    opacity: .05;
    z-index: 0;
    max-height: 99vh;
  }
  >* {
    margin: 0 auto;
  }
}

.loginForm {
  display: inline-block;
  margin: 10vh auto;
  max-width: 500px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  form {
    margin: 0 auto;
    width: 90%;
  }
}

.button-group {
  display: flex;
  justify-content: space-around;
}

.view-wrapper {
  padding: 50px 0 0 0;
  height: 100%;
  max-width: 99vw;
  margin: 0 auto;
  //display: flex;
  //flex-wrap: wrap;
  //justify-content: space-around;
}

.console-paper {
  //display: flex;
  //justify-content: space-around;
  //width: auto;
  //max-width: 90%;
  margin: 0 auto;
  padding-top: 2vh;
  div {
    .chip-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.chip-wrapper {
  display: flex;
  flex-wrap: wrap;
}

////Router animations
//.Image {
//  position: absolute;
//  height: 400px;
//  width: 400px;
//}
//
//.example-enter {
//  opacity: 0.01;
//  transition: opacity 5s ease-in;
//}
//
//.example-enter.example-enter-active {
//  opacity: 1;
//}
//
//.example-leave {
//  opacity: 1;
//  transition: opacity 5s ease-in;
//}
//
//.example-leave.example-leave-active {
//  opacity: 0;
//}
//
//.link-active {
//  color: #bbbbbb;
//  text-decoration: none;
//}