$color: blue;

body {
  //display: block;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;

}

.wrapper {
  min-height: 100vh;
  position: relative;
}

.loginForm {
  display: inline-block;
  margin: 10vh auto;
  max-width: 500px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  form {
    margin: 0 auto;
    width: 90%;

  }
}
.console-adders {
  margin: 0 auto;
  width: 100%;
  max-width: 35vw;
  form {
    padding: 1%;
  }
}

.button-group {
  display: flex;
  justify-content: space-around;
}

.view-wrapper {
  padding: 10vh;
  height: 100%;
  display: flex;
  justify-content: space-around;
}

.chip-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.ingredient-adder-box {
  display: block;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 10px;
  width: 100%
}

.ingredient-submit-button {
  width: 100%;
}

.ingredient-unit {
  max-width: 30%;
}

.step-wrapper {
  display: inline-flex;
}

.step-text {
  flex: 5 1 0;
}

.step-button {
  flex: 1 1 0;
}