$color: blue;

body {
  //display: block;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;

}
.wrapper {
  min-height: 100vh;
  //width: 100vw;
  //display: flex;
  position: relative;
}

.loginForm {
  display: inline-block;
  margin: 10vh auto;
  //padding: 0 0 30px 0;
  max-width: 500px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  form {
    margin: 0 auto;
    width: 90%;

  }
}
.button-group {
  display: flex;
  justify-content: space-around;
}
#Drawer #IngredientFinder {
  padding: 10px;
}