$color: blue;
$break-small: 320px;
$break-medium: 768px;
$break-large: 1200px;

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  min-height: 100vh;

}

.wrapper {
  min-height: 100vh;
  position: relative;
}

.loginForm {
  display: inline-block;
  margin: 10vh auto;
  max-width: 500px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  form {
    margin: 0 auto;
    width: 90%;

  }
}

.console-adders {
  margin: 0 auto;
  @media screen and (max-width: $break-medium) {
    width: 95vw;
  }
  @media screen and (min-width: $break-large) {
    width: 45vw;
  }
  width: 80vw;
  form {
    padding: 1%;
  }
}

.recipe-details {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  .ingredient-adder-box {
    //flex: 3 1 0;
    width: 30%;
    .ingredient-details {
      padding: 0;
    }
  }

  .step-wrapper {
    //flex: 5 1 0;
    width: 50%;
    align-items: flex-end;
  }
}

.button-group {
  display: flex;
  justify-content: space-around;
}

.view-wrapper {
  height: 100%;
  max-width: 99vw;
  width: 99vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.console-paper {
  justify-content: space-around;
  width: 90%;
  margin: 2vh auto;
  div {
    .chip-wrapper {
      display: flex;
      flex-wrap: wrap;
    }
  }
}

.chip-wrapper {
  display: flex;
  flex-wrap: wrap;
}

//Router animations
.Image {
  position: absolute;
  height: 400px;
  width: 400px;
}

.example-enter {
  opacity: 0.01;
  transition: opacity 5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity 5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0;
}

.link-active {
  color: #bbbbbb;
  text-decoration: none;
}